server:
  port: 8000

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    server-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: gateway-server


cloud:
  gateway:
    routes:
      - id: member-service
        uri: lb://IIIIII-MEMBER-SERVICE
        predicates:
          - Path=/member-service/**
        filters:
          - RewritePath=/member-service/(?<segment>.*), /$\{segment}
#          - AuthorizationHeaderFilter
      - id: accbook-service
        uri: lb://IIIIII-ACCBOOK-SERVICE
        predicates:
          - Path=/accbook-service/**
        filters:
          - RewritePath=/accbook-service/(?<segment>.*), /$\{segment}
#          - AuthorizationHeaderFilter