<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iiiiii.accountbook.acc_category.query.repository.AccCategoryMapper">
    <resultMap id="ResultMap1" type="com.iiiiii.accountbook.acc_category.query.dto.AccCategoryDTO">
        <id property="code" column="CODE"/>
        <result property="name" column="NAME"/>
        <result property="financeType" column="FINANCE_TYPE"/>
        <result property="visibility" column="VISIBILITY"/>
        <result property="isDeleted" column="IS_DELETED"/>
        <result property="memberCode" column="MEMBER_CODE"/>
        <result property="parentCode" column="PARENT_CODE"/>
    </resultMap>

    <select id="selectAllAccCategory" resultMap="ResultMap1">
        SELECT
               A.CODE
             , A.NAME
             , A.FINANCE_TYPE
             , A.VISIBILITY
             , A.IS_DELETED
             , A.MEMBER_CODE
             , A.PARENT_CODE
          FROM ACC_CATEGORY A
    </select>

    <select id="selectAccCategoryByMemberCode" resultMap="ResultMap1" parameterType="_int">
        SELECT
               A.CODE
             , A.NAME
             , A.FINANCE_TYPE
             , A.VISIBILITY
             , A.IS_DELETED
             , A.MEMBER_CODE
             , A.PARENT_CODE
          FROM ACC_CATEGORY A
         WHERE A.MEMBER_CODE = #{memberCode}
    </select>

    <select id="selectOneAccCategory" resultMap="ResultMap1" parameterType="_int">
        SELECT
               A.CODE
             , A.NAME
             , A.FINANCE_TYPE
             , A.VISIBILITY
             , A.IS_DELETED
             , A.MEMBER_CODE
             , A.PARENT_CODE
          FROM ACC_CATEGORY A
         WHERE A.CODE = #{accCategoryCode}
    </select>

    <select id="selectAllAccCategoryCode" resultType="_int" parameterType="_int">
        SELECT
               A.CODE
          FROM ACC_CATEGORY A
         WHERE A.MEMBER_CODE = #{memberCode}
    </select>

    <select id="selectAllAccCategoryName" resultType="string" parameterType="_int">
        SELECT
               A.NAME
          FROM ACC_CATEGORY A
         WHERE A.MEMBER_CODE = #{memberCode}
    </select>

    <select id="selectAccCategoryByIO" resultMap="ResultMap1" parameterType="hashmap">
        SELECT
               A.CODE
             , A.NAME
             , A.FINANCE_TYPE
             , A.VISIBILITY
             , A.IS_DELETED
             , A.MEMBER_CODE
             , A.PARENT_CODE
          FROM ACC_CATEGORY A
         WHERE A.MEMBER_CODE = #{memberCode, jdbcType=INTEGER}
           AND A.FINANCE_TYPE = #{financeType, jdbcType=CHAR}
    </select>

    <select id="selectAccCategoryByIsDeleted" resultMap="ResultMap1" parameterType="hashmap">
        SELECT
               A.CODE
             , A.NAME
             , A.FINANCE_TYPE
             , A.VISIBILITY
             , A.IS_DELETED
             , A.MEMBER_CODE
             , A.PARENT_CODE
          FROM ACC_CATEGORY A
         WHERE A.MEMBER_CODE = #{memberCode, jdbcType=INTEGER}
           AND A.IS_DELETED = #{isDeleted, jdbcType=CHAR}
    </select>

    <select id="selectAccCategoryByVisibility" resultMap="ResultMap1" parameterType="hashmap">
        SELECT
               A.CODE
             , A.NAME
             , A.FINANCE_TYPE
             , A.VISIBILITY
             , A.IS_DELETED
             , A.MEMBER_CODE
             , A.PARENT_CODE
          FROM ACC_CATEGORY A
         WHERE A.MEMBER_CODE = #{memberCode, jdbcType=INTEGER}
           AND A.VISIBILITY = #{visibility, jdbcType=CHAR}
    </select>
</mapper>