<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iiiiii.accountbook.review.query.repository.StoreReviewMapper">



    <!-- 주석. 리뷰 조회 by storeCode의 result map -->
    <resultMap id="storeReviewByStoreCodeResultMap" type="com.iiiiii.accountbook.review.query.dto.selectStoreReviewByMemberOrStoreCodeDTO">
        <id property="code" column="CODE"/>
        <result property="storeName" column="NAME"/>
        <result property="memberNickname" column="NICKNAME"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="visitors" column="VISITORS"/>
        <result property="totalExpense" column="TOTAL_EXPENSE"/>
        <result property="oneLineReview" column="ONE_LINE_REVIEW"/>
    </resultMap>

    <!-- 주석. 리뷰 조회 by memberCode의 result map -->
    <resultMap id="storeReviewByMemberCodeResultMap" type="com.iiiiii.accountbook.review.query.dto.selectStoreReviewByMemberOrStoreCodeDTO">
        <id property="code" column="CODE"/>
        <result property="storeName" column="NAME"/>
        <result property="memberNickname" column="NICKNAME"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="visitors" column="VISITORS"/>
        <result property="totalExpense" column="TOTAL_EXPENSE"/>
        <result property="oneLineReview" column="ONE_LINE_REVIEW"/>
    </resultMap>





    <!-- 주석. query -->
    <!-- 주석. 리뷰 조회 by storeCode-->
    <select id="selectReviewByStoreCode" parameterType="int" resultMap="storeReviewByStoreCodeResultMap">
        SELECT
              A.CODE
            , C.NAME  <!-- 가게 이름 -->
            , B.NICKNAME
            , A.CREATED_AT
            , A.VISITORS
            , A.TOTAL_EXPENSE
            , A.ONE_LINE_REVIEW
        FROM
             STORE_REVIEW A
        JOIN
             MEMBER B ON A.MEMBER_CODE = B.CODE
        JOIN
             STORE C ON A.STORE_CODE = C.CODE
        WHERE
             A.STORE_CODE = #{storeCode}
    </select>

    <!-- 주석. 리뷰 조회 by MemberCode -->
    <select id = "selectReviewByMemberCode" parameterType = "int" resultMap ="storeReviewByMemberCodeResultMap">
        SELECT
              A.CODE
            , C.NAME   <!--가게 이름 -->
            , B.NICKNAME
            , A.CREATED_AT
            , A.VISITORS
            , A.TOTAL_EXPENSE
            , A.ONE_LINE_REVIEW
        FROM
              STORE_REVIEW A
        JOIN
              MEMBER B ON A.MEMBER_CODE = B.CODE
        JOIN
              STORE C ON A.STORE_CODE = C.CODE
        WHERE
              A.MEMBER_CODE = #{memberCode}
    </select>



</mapper>